
.ipynb_checkpoints/Intro to numpy-checkpoint.ipynb
.ipynb_checkpoints/Intro to numpy-checkpoint.ipynb
.ipynb_checkpoints/ Numeric and Visual Summary of the data-checkpoint.ipynb
output1.png
5) Numeric and Visual Summary of the data.ipynb
5) Numeric and Visual Summary of the data.ipynb
